@model FTERPWeb.Home.ViewModels.AddRoleModel
@{
    ViewBag.Title = "角色编辑";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
@section head{
}
@Html.RenderNavHtml()
<div class="m-content">
    @using (Html.BeginForm())
    {
        <div class="m-form f-cb">
            <dl class="f-cb">
                <dt><i>*</i>角色名称:</dt>
                <dd>@Html.TextBoxFor(m => m.Name, new { @maxlength = "15", @class = "u-iptl trim" })
                    @Html.ValidationMessageFor(m => m.Name)</dd>
                <dt>备注:</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Remark, new { @maxlength = "80", @class = "u-iptl trim" })
                    @Html.ValidationMessageFor(m => m.Remark)
                </dd>
                <dt></dt>
                <dd>
                    @Html.HiddenFor(m => m.Id)
                    <input type="hidden" id="hidCurrentPage" value="@ViewBag.CurrentPage"/>
                    <input type="button" value="保存" class="u-btnblue" onclick="Common.Save({
    actionUrl: '/Home/Role/Edit', backUrl: '/Home/Role/Index?backType=1&CurrentPage=' + $('#hidCurrentPage').val()
});" />
                    <input type="button" value="返回" class="u-btnblue marl10" onclick="location.href = '/Home/Role/Index?backType=1&CurrentPage=' + $('#hidCurrentPage').val()" />
                </dd>
            </dl>
        </div>
    }
</div>
