@using PetaPoco
@using FTERPCommon
@model Page<FTERPWeb.Home.ViewModels.CommodityIndexModel>
@{
    ViewBag.Title = "商品列表";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
@Html.RenderNavHtml()
<div class="m-content">
    @using (Html.BeginForm())
    {
        <!-- 操作 start -->
        <div class="m-content">
            <input type="hidden" id="exportFlag" name="exportFlag" value="0" />
            <input type="hidden" id="backType" name="backType" value="@ViewBag.backType"/>
            <input name="input" type="button" value="添加" class="u-btnblue" onclick="window.location.href = '/Home/Commodity/Add'" />
            <input name="input" type="button" value="编辑" class="u-btnblue" onclick="Edit({tableName:'Sys_Commodity',actionUrl:'/Home/Commodity/Edit?CurrentPage=@ViewBag.CurrentPage'})" />
            <input name="input" type="button" value="删除" class="u-btnblue" onclick="Delete({tableName:'Sys_Commodity',actionUrl:'/Home/Commodity/Delete',backUrl:'/Home/Commodity/Index?CurrentPage=@ViewBag.CurrentPage'})" />
            <input type="submit" value="导出Excel" class="u-btnblue" onclick="$('#exportFlag').val('1')" />
        </div>
        <!-- 操作 end -->
        <!-- search start -->       
        <div class="m-schlist f-cb">
            <div class="searchU">
                <div class="searchUP">
                    商品编号：
                </div>
                <div class="searchUP">
                    <input type="text" id="no" name="no" class="u-iptm trim" maxlength="10" />
                </div>
            </div>
            <div class="searchU">
                <div class="searchUP">
                    中文名称：
                </div>
                <div class="searchUP">
                    <input type="text" id="chName" name="chName" class="u-iptm trim" maxlength="30" />
                </div>
            </div>
            <div class="searchU">
                <div class="searchUP">
                    英文名称：
                </div>
                <div class="searchUP">
                    <input type="text" id="enName" name="enName" class="u-iptm trim" maxlength="30" />
                </div>
            </div>
            <div class="searchU">
                <div class="searchUP">
                    海关编码：
                </div>
                <div class="searchUP">
                    <input type="text" id="customsNo" name="customsNo" class="u-iptm trim" maxlength="20" />
                </div>
            </div>
            @*<div class="searchU">
                <div class="searchUP">
                    是否有效：
                </div>
                <div class="searchUP">
                    <select id="delFlag" name="delFlag" class="u-iptm">
                        <option value="">全部</option>
                        <option value="0">是</option>
                        <option value="1">否</option>
                    </select>
                </div>
            </div>*@
        </div>      
        <!-- search end -->
        <!-- 查询 start -->
        <div class="m-schlist">
            <div class="searchU">
                <div class="searchUP">
                    每页显示条数：
                </div>
                <div class="searchUP">
                    <input type="text" name="itemsPerPage" class="u-ipts number" maxlength="2" />
                    <input type="submit" value="查询" class="u-btnblue" onclick="$('#exportFlag').val('0')" />
                </div>
            </div>
        </div>
        <!-- 查询 end -->
    }
    <table border="0" class="m-table f-cb mart20">
        <tr>
            <th class="f-width30">
                <input type="checkbox" class="checkall" />
            </th>
            <th class="f-width80">
                商品类别
            </th>
            <th class="f-width80">
                商品编号
            </th>
            <th class="f-width80">
                海关编码
            </th>
            <th class="f-width100">
                中文名称
            </th>
            <th class="f-width100">
                英文名称
            </th>
            <th class="f-width100">
                商品货号
            </th>
            <th class="f-width100">
                关税率
            </th>
            <th class="f-width120">
                增值税率
            </th>
            <th class="f-width100">
                退税率
            </th>
            @*<th class="f-width50">
                是否有效
            </th>*@
        </tr>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td colspan="10">
                    暂无数据
                </td>
            </tr> 
        }
        @{ int index = FTERPWeb.Common.SysConfig.ItemsPerPage * ((int)Model.CurrentPage - 1); }
        @foreach (var item in Model.Items)
        {
            index++;
            <tr>
                <td>
                    <input type="checkbox" class="checkone" value="@item.Id" />
                </td>
                <td title="@item.Type">
                    @item.Type.SubStr(3, "...")
                </td>
                <td>
                    <a href="/Home/Commodity/Details?id=@item.Id&CurrentPage=@ViewBag.CurrentPage">@item.No</a>
                </td>
                <td title="@item.CustomsNo">
                    @item.CustomsNo.SubStr(3, "...")
                </td>
                <td title="@item.ChName">
                    @item.ChName.SubStr(3, "...")
                </td>
                <td title="@item.EnName">
                    @item.EnName.SubStr(3, "...")
                </td>
                <td title="@item.ProductCode">
                    @item.ProductCode.SubStr(3, "...")
                </td>
                <td title="@item.TariffRate">
                    @item.TariffRate.SubStr(3, "...")
                </td>
                <td title="@item.VatRate">
                    @item.VatRate.SubStr(6, "...")
                </td>
                <td title="@item.RefundRate">
                    @item.RefundRate.SubStr(3, "...")
                </td>
               @* <td>
                    @item.DelFlag
                </td>*@
            </tr> 
        }
    </table>
    @Html.RenderHomePage(Model)
</div>
<script type="text/javascript">
    $(function () {
        var backType = $("#backType").val();
        var no = Common.GetCookie("no");
        var chName = Common.GetCookie("chName");

        var customsNo = Common.GetCookie("customsNo");
        var enName = Common.GetCookie("enName");
        //var delFlag = Common.GetCookie("delFlag");

        if ("1" == backType) {
            $("#no").val(null == no ? "" : no);
            $("#chName").val(null == chName ? "" : chName);
            $("#customsNo").val(null == customsNo ? "" : customsNo);

            $("#enName").val(null == enName ? "" : enName);
            //$("#delFlag").val(null == delFlag ? "" : delFlag);
        }

        BindCheckAll();
    });

    $("form").submit(function () {
        //将查询条件放入Cookie中
        Common.SetCookie("no", $("#no").val());
        Common.SetCookie("chName", $("#chName").val());
        Common.SetCookie("customsNo", $("#customsNo").val());

        Common.SetCookie("enName", $("#enName").val());
        //Common.SetCookie("delFlag", $("#delFlag").val());
        $("#backType").val("1");
    }); 
</script>
